@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  @apply font-normal text-neutral-800;

}

/* Earn dashboard */
.flash {
  animation: flashEffect 0.3s ease-in-out;
}

@keyframes flashEffect {
  0% {
    transform: scale(1);
    color: #000000;
  }
  50% {
    transform: scale(1.1);
    color: orange;
  }
  100% {
    transform: scale(1);
    color: #000000;
  }
}
